.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.warning {
  background-color: #ffdfcd;
  color: #856404;
  padding: 1rem;
  border: 1px solid #ffeeba;
  border-radius: 0.25rem;
  margin: 1rem 0;
  text-align: left;
}

